<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>1В340</title>
   <link rel="stylesheet" href="/public/style.css">
</head>

<body>
   <section class="machine">
      <h2 class="machine__title">1B340 — Токарно-револьверный с ЧПУ</h2>
      <p class="machine__description">Станки модели 1в340ф30 предназначены для выполнения разнообразных токарных работ в
         пределах установленной мощности, в основном, при обработке сложных деталей со ступенчатым и криволинейным
         профилем.</p>
      <div class="machine__wrapper">
         <img src="/public/img/1v340f30.jpg" alt="">
         <table class="machine-table">
            <tr class="machine-table__row">
               <th class="machine-table__col">Державки</th>
               <th class="machine-table__col">Правые</th>
            </tr>
            <tr class="machine-table__row">
               <th class="machine-table__col">Максимальный деаметр детали</th>
               <th class="machine-table__col">Нет данных</th>
            </tr>
            <tr class="machine-table__row">
               <th class="machine-table__col">Минимальный диаметр детали</th>
               <th class="machine-table__col">Нет данных</th>
            </tr>
            <tr class="machine-table__row">
               <th class="machine-table__col">Максимальная длинна прутка</th>
               <th class="machine-table__col">3000</th>
            </tr>
            <tr class="machine-table__row">
               <th class="machine-table__col">Максимальный размер державки резца</th>
               <th class="machine-table__col">20х20</th>
            </tr>
         </table>
      </div>
      <table class="machine-table">
         <tr class="machine-table__row">
            <th class="machine-table__col">Група</th>
            <th class="machine-table__col">Наличие</th>
         </tr>
         <tr class="machine-table__row">
            <th class="machine-table__col">11</th>
            <th class="machine-table__col">Есть</th>
         </tr>
         <tr class="machine-table__row">
            <th class="machine-table__col">5</th>
            <th class="machine-table__col">Есть</th>
         </tr>
      </table>
   </section>
</body>

</html>